<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Juventude Brade - Cadastro</title>

    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
</head>

<body ng-app="ecadastro">
	<div layout="row">
		<div flex="33" offset="33">
			<div ui-view></div>
		</div>
	</div>
</body>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/angular-aria/angular-aria.min.js"></script>
<script src="lib/angular-messages/angular-messages.min.js"></script>

<script src="lib/angular-material/angular-material.min.js"></script>
<script src="lib/firebase/firebase.js"></script>
<script src="lib/angularfire/dist/angularfire.min.js"></script>
<script>
    // Initialize the Firebase SDK
    var config = {
        apiKey: "AIzaSyBrWqL3FjJYBMHaihQVJnVx0-R8fnyasa4",
        authDomain: "ecadastro-b9df0.firebaseapp.com",
        databaseURL: "https://ecadastro-b9df0.firebaseio.com",
        storageBucket: "ecadastro-b9df0.appspot.com",
        messagingSenderId: "659755034322"
    };
    firebase.initializeApp(config);
</script>
<script src="js/app.js"></script>
<!-- <script src="../bower_components/firebase/firebase.js"></script> -->

<!--
<body ng-app="ecadastro">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Faça sua inscrição</span>
        </div>
    </header>

     <main class="mdl-layout__content mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset" ng-controller="CadastroController">
            <form name="inscricaoForm" novalidate>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="[a-zA-Z\s]*" id="nome" ng-model="inscricao.Nome" ng-required="inscricao.Nome" />
                    <label class="mdl-textfield__label" for="nome">Nome completo</label>
                    <span class="mdl-textfield__error" ng-valid="">Insira um nome válido.</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="date" id="dataDeNascimento" ng-model="inscricao.DataDeNascimento" />
                    <span class="mdl-textfield__error">Insira uma data de nasciment válida.</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" id="email" ng-model="inscricao.Email" />
                    <label class="mdl-textfield__label" for="email">E-mail</label>
                    <span class="mdl-textfield__error">Insira um e-mail válido.</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="cpf" ng-model="inscricao.CPF" />
                    <label class="mdl-textfield__label" for="cpf">CPF</label>
                    <span class="mdl-textfield__error">Insira um cpf válido.</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z]*" id="igreja" ng-model="inscricao.Igreja" />
                    <label class="mdl-textfield__label" for="igreja">Nome da Igreja</label>
                    <span class="mdl-textfield__error">Insira um nome válido.</span>
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="Salvar(inscricao)">
                        Salvar
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="Limpar(inscricaoForm)" type="reset">
                        Limpar
                    </button>
                </div>
            </form>
        </div>
    </main>
</body>
-->
</html>
