<form name="loginForm" novalidate>
    <md-content class="md-padding">
        <div layout-gt-xs="row">
            <md-input-container flex-gt-xs>
                <label>E-mail</label>
                <input type="email" id="email" ng-model="usuario.Email" />
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex-gt-xs>
                <label>Senha</label>
                <input type="password" ng-model="usuario.Senha" />
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-button class="md-raised md-warn" ng-click="Incluir(usuario)">Incluir</md-button>
        </div>
    </md-content>
</form>
